@dark: #000;

.text_color {
	color: @dark;
}

.centeravatar {
	text-align: center;

}
.center {
	margin: 0 auto;
	width: 80%;
}

.center2 {
	margin: 0 auto;
	width: 100%;
}

.whites {

	color: white;
	a {
		color: white;
		font-size: 1.5em;
		font-weight: bold;

	}
}

.nopadding {
	padding: 0;
	margin: 0;
	display: block;
}


.title {
	margin-top: 5%;
	font-size: 3em;
}


.custom_padding {

	padding-top: 40px;


	@media (max-width: 980px) { 
		padding-top: 5px;
	}

	@media (max-width: 767px) { 
		padding-top: 50px;
	}

	@media (max-width: 465px) { 
		padding-top: 50px;
	}

	@media (max-width: 320px) { 
		padding-top: 60px;
	}


}

.maintitle {

	@media (max-width: 767px) { 
		display: none;
	}

	@media (max-width: 465px) { 
		display: none;
	}

	@media (max-width: 320px) { 
		display: none;
	}

}
